:root {
  --background-primary: #121212;
  --text-primary: white;
  --color-accent: #ceff00;
}
* {
  font-weight: 500;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-primary);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.voltButton{
  background-color: var(--color-accent);
  color: var(--color-accent);
}

.project-heading {
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  margin: 0px 0px 24px;
}
.project-section {
  scroll-snap-type: y mandatory; 
  overflow-y: scroll; 
  height: calc(var(--vh) * 100); 
  /* padding: 20px; */
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}

.snap-row {
  height: calc(var(--vh) * 100); 
  align-items: center;
  justify-content: center;
  scroll-snap-align: center; 
}

.sticky-header {
  position: sticky; 
  top: 0; 
  background-color: #121212;
  z-index: 10; 
  /* padding: 10px 0;  */
  width: 100%;
}
#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.skillIcons{
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid var(--color-accent) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px #ccff004d !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  box-sizing: border-box; 
}

.project-section .row {
  display: flex;
  /* justify-content: center;  */
  /* flex-wrap: wrap;  */
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.project-card-view {
  border: 1.7px solid var(--color-accent) !important;
  box-shadow: 4px 5px 4px 3px #ccff004d !important;
  /* color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important; */
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px #ceff00 !important;
}
.floatingNav{
  z-index: 9999;
}